access==1.1.3
adjustText==0.7.3
affine==2.3.0
aniso8601==9.0.1
anndata==0.7.6
annoy==1.17.0
anyio==3.3.0
appdirs==1.4.4
argon2-cffi==20.1.0
asciitree==0.3.3
async-generator==1.10
attrs==20.3.0
aws-requests-auth==0.4.3
backcall==0.2.0
bbknn==1.5.1
beautifulsoup4==4.10.0
bleach==3.3.0
boto3==1.18.65
botocore==1.21.65
brotlipy==0.7.0
cairocffi==1.2.0
CellPhoneDB==2.1.7
certifi==2020.12.5
cffi @ file:///tmp/build/80754af9/cffi_1606255122322/work
chardet @ file:///tmp/build/80754af9/chardet_1605303192865/work
click==6.7
click-plugins==1.1.1
cligj==0.7.1
cloudpickle==1.6.0
conda==4.9.2
conda-package-handling @ file:///tmp/build/80754af9/conda-package-handling_1605484832764/work
coverage==6.0.2
cryptography @ file:///tmp/build/80754af9/cryptography_1607635322643/work
cycler==0.10.0
Cython==0.29.23
dask==2021.5.0
decorator==4.4.2
defusedxml==0.7.1
Deprecated==1.2.12
deprecation==2.1.0
descartes==1.1.0
dnspython==2.1.0
docrep==0.3.2
docutils==0.17.1
entrypoints==0.3
enum-tools==0.6.4
esda==2.4.1
fasteners==0.16
fbpca==1.0
filelock==3.6.0
Fiona==1.8.20
Flask==1.0.4
Flask-Cors==3.0.10
Flask-JSON==0.3.4
Flask-RESTful==0.3.9
Flask-Testing==0.7.1
fsspec==2021.5.0
gdown==4.4.0
geopandas==0.10.2
geosketch==0.3
get-version==2.2
giddy==2.3.3
h5py==2.10.0
harmonypy==0.0.5
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
imageio==2.9.0
inequality==1.0.0
inflect==5.3.0
iniconfig==1.1.1
ipykernel==5.5.3
ipython==7.22.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==2.11.3
jmespath==0.10.0
joblib==1.0.1
jsonlines==1.2.0
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.7.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyter-server==1.10.2
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
keyring==12.0.2
keyrings.alt==3.1
kiwisolver==1.3.1
legacy-api-wrap==1.2
leidenalg==0.8.4
libpysal==4.5.1
llvmlite==0.36.0
locket==0.2.1
lxml==4.6.3
MACS2==2.2.7.1
mapclassify==2.4.3
MarkupSafe==1.1.1
matplotlib==3.4.2
mgwr==2.1.2
mistune==0.8.4
mpmath==1.2.1
munch==2.5.0
NaiveDE==1.2.0
natsort==7.1.1
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.5.1
notebook==6.3.0
numba==0.53.1
numcodecs==0.7.3
numexpr==2.7.3
numpy==1.21.0
omnipath==1.0.4
opencv-contrib-python==4.5.3.56
packaging==20.9
pandas==1.1.4
pandocfilters==1.4.3
parso==0.8.2
partd==1.2.0
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
pika==0.12.0
Pillow==8.2.0
pluggy==0.13.1
pointpats==2.2.0
prometheus-client==0.10.1
prompt-toolkit==3.0.18
ptyprocess==0.7.0
PuLP==2.5.1
py==1.10.0
pycairo==1.20.1
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pygeos==0.10.2
Pygments==2.8.1
pynndescent==0.5.2
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1606517880428/work
pyparsing==2.4.7
pyproj==3.2.1
pyrsistent==0.17.3
pysal==2.5.0
PySocks @ file:///tmp/build/80754af9/pysocks_1605305812635/work
pytest==6.2.4
pytest-cov==3.0.0
python-dateutil==2.8.0
python-igraph==0.9.1
python-louvain==0.15
pytz==2021.1
PyWavelets==1.1.1
PyYAML==5.1.2
pyzmq==22.0.3
quantecon==0.5.1
quilt3==3.6.0
rasterio==1.2.3
rasterstats==0.15.0
requests @ file:///tmp/build/80754af9/requests_1606691187061/work
requests-futures==1.0.0
requests-unixsocket==0.2.0
rpy2==3.0.5
Rtree==0.9.7
ruamel-yaml-conda @ file:///tmp/build/80754af9/ruamel_yaml_1605527293619/work
rvlib==0.0.6
s3transfer==0.5.0
scanpy==1.8.1
scikit-image==0.18.1
scikit-learn==0.22
scipy==1.6.3
seaborn==0.11.1
SecretStorage==2.3.1
segregation==2.1.0
Send2Trash==1.5.0
Shapely==1.7.1
simplegeneric==0.8.1
simplejson==3.17.5
simpleSynapse==0.4
sinfo==0.3.4
six @ file:///tmp/build/80754af9/six_1605205306277/work
sniffio==1.2.0
snuggs==1.4.7
soupsieve==2.2.1
spaghetti==1.6.4
SpatialDE==1.1.3
spglm==1.0.8
spint==1.0.7
splot==1.1.4
spopt==0.1.2
spreg==1.2.4
spvcm==0.3.0
SQLAlchemy==1.3.24
squidpy==1.0.0
statsmodels==0.12.2
stdlib-list==0.8.0
sympy==1.9
synapseclient==2.4.0
tables==3.6.1
tenacity==8.0.1
terminado==0.9.4
testpath==0.4.4
texttable==1.6.3
threadpoolctl==2.1.0
tifffile==2021.4.8
tobler==0.8.2
toml==0.10.2
tomli==1.2.1
toolz==0.11.1
tornado==6.1
tqdm==4.62.3
traitlets==5.0.5
typing-extensions==3.10.0.0
umap-learn==0.5.1
urllib3==1.26.4
voila==0.2.10
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.1
Werkzeug==2.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xarray==0.18.2
xlrd==1.2.0
yellowbrick==1.3.post1
zarr==2.8.3
